.conteudo__principal__chamada{
    width: 90%;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.conteudo__principal_chamada__conteudo, .conteudo__principal__chamada__ilustracao{
    width: 45%;
}
.conteudo__principal_chamada__conteudo__titulo,
.conteudo__principal_chamada__conteudo__texto,
.conteudo__principal_chamada__conteudo__formulario{
    margin: 15px 0;
}
.conteudo__principal_chamada__conteudo__titulo{
    font-size: 35px;
    font-family: var(--font-titulo);
    font-weight: 700;
    line-height: 45px;
    color: var(--azul-escuro);
}
.conteudo__principal_chamada__conteudo__texto{
    line-height: 23px;
    color: var(--azul-escuro);
    font-weight: 400;
}
.conteudo__principal_chamada__conteudo__formulario{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.conteudo__principal_chamada__conteudo__formulario__campo{
    width: 65%;
    border: solid 1px var(--azul-desaturado);
}
.conteudo__principal_chamada__conteudo__formulario__campo:focus{
    outline: 0;
    border: solid 1px var(--azul-claro);
    box-shadow: 0 0 3px var(--azul-claro);
}
.conteudo__principal_chamada__conteudo__formulario__botao__enviar{
    width: 33%;
    border: none;
    color: var(--branco);
    font-weight: 400;
    background-color: var(--azul-claro);
    transition: all .3s ease;
    cursor: pointer;
}
.conteudo__principal_chamada__conteudo__formulario__botao__enviar:hover{
    opacity: .7;
}
.conteudo__principal_chamada__conteudo__formulario__botao__enviar,
.conteudo__principal_chamada__conteudo__formulario__campo{
    padding: 10px 12px;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px -2px var(--azul-desaturado);
    border-radius: 2px;
}
@media only screen and (max-width: 480px){
    .conteudo__principal__chamada{
        flex-direction: column;
    }
    .conteudo__principal__chamada__ilustracao{
        order: 0;
        width: 100%;
    }
    .conteudo__principal_chamada__conteudo{
        order: 1;
        width: 100%;
    }
    .conteudo__principal_chamada__conteudo__titulo,
    .conteudo__principal_chamada__conteudo__texto{
        text-align: center;
    }
    .conteudo__principal_chamada__conteudo__formulario{
        flex-direction: column;
    }
    .conteudo__principal_chamada__conteudo__formulario__campo,
    .conteudo__principal_chamada__conteudo__formulario__botao__enviar{
        width: 100%;
        margin: 5px 0;
    }
}